
    body{
        background-color: #E9E8E8;
    }

    hr{
        background-color: transparent;
        border-style: none;
        border-top: dotted 8px;
        color: #913175;
        height: 1px;
        width: 5%;

    }

    .profile{
        padding-right: 50px;
    }
    h1{
        color: rgb(77, 13, 73);
    }

    h3{
        color: rgb(72, 49, 71);
    }
